asgiref==3.6.0; python_version >= "3.8"
async-timeout==4.0.2; python_version >= "3.7"
django==4.1.7; python_version >= "3.8"
djangorestframework==3.14.0; python_version >= "3.6"
gunicorn==20.1.0; python_version >= "3.5"
py3dns==3.2.1
pytz==2022.7.1; python_version >= "3.6"
redis==4.5.1; python_version >= "3.7"
sqlparse==0.4.3; python_version >= "3.8"
tzdata==2022.7; sys_platform == "win32" and python_version >= "3.8"
validate-email-address==1
